{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "plugins": [
    "babel"
  ],
  "parserOptions": {
    "requireConfigFile": false,
    "allowAwaitOutsideFunction": true,
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "new-cap": ["error", { "newIsCap": false, "capIsNew": false }],
    "object-shorthand": ["error"],
    "quote-props": ["error", "as-needed"],
    "no-const-assign": ["error"],
    "no-var": ["error"],
    "no-new-object": ["error"],
    "no-array-constructor": ["error"],
    "array-callback-return": ["error"],
    "template-curly-spacing": ["error", "never"],
    "no-useless-escape": ["error"],
    "func-style": ["error", "expression"],
    "wrap-iife": ["error", "outside"],
    "space-before-function-paren": ["error", "never"],
    "no-param-reassign": ["error"],
    "prefer-template": ["error"],
    "prefer-spread": ["warn"],
    "prefer-rest-params": ["warn"],
    "arrow-spacing": ["error", {"before": true, "after": true}],
    "arrow-parens": ["warn", "as-needed"],
    "no-confusing-arrow": 0,
    "no-duplicate-imports": ["error"],
    "no-iterator": ["error"],
    "no-alert": ["error"],
    "no-restricted-syntax": ["error", "WithStatement", "SwitchStatement", "DoWhileStatement"],
    "generator-star-spacing": ["error", {"before": true, "after": false}],
    "dot-notation": ["error"],
    "prefer-const": ["error"],
    "one-var": ["warn", "never"],
    "brace-style": ["error", "1tbs", {"allowSingleLine": true}],
    "space-before-blocks": ["error", "always"],
    "keyword-spacing": ["error", {"before": true, "after": true}],
    "space-infix-ops": ["error"],
    "no-whitespace-before-property": ["error"],
    "padded-blocks": ["error", "never"],
    "space-in-parens": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "radix": ["error"],
    "camelcase": ["error", {"properties": "never"}],
    "id-length": [0],
    "semi": ["error"],
    "eqeqeq": ["error", "always"],
    "no-lonely-if": ["error"],
    "no-mixed-spaces-and-tabs": ["warn"],
    "indent": ["warn", 2],
    "no-multi-spaces": ["error"],
    "no-lone-blocks": ["error"],
    "no-loop-func": ["error"],
    "no-eval": ["error"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "no-return-assign": ["error", "except-parens"],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true, "mode": "minimum" }],
    "no-mixed-requires": ["warn"],
    "no-unused-vars": ["error", {"vars": "local", "args": "after-used"}],
    "no-delete-var": ["warn"],
    "no-shadow-restricted-names": ["error"],
    "no-undef": ["error"],
    "no-underscore-dangle": ["error", {"allow": ["_id"]}],
    "no-use-before-define": ["error"],
    "callback-return": ["warn"],
    "no-new-func": ["warn"],
    "no-new-require": ["error"],
    "no-labels": ["error"],
    "no-sync": 0,
    "no-path-concat": 0,
    "handle-callback-err": 0,
    "no-undefined": 0,
    "no-undef-init": 0,
    "no-label-var": 0,
    "no-catch-shadow": 0,
    "init-declarations": 0,
    "no-process-exit": 0,
    "no-shadow": 0,
    "consistent-return": 0,
    "eol-last": 0
  }
}